<% include partials/header %>
<script defer src="/javascripts/face-api.min.js"></script>
<script defer src="/javascripts/face_script.js"></script>
<div class="container ">
    <h1>Face Detection</h1>
    <div class="row">
        <div class="col-md-8">
            <video id="vid" autoplay muted loop style="width: 100%;height: auto;">
                <source src="/images/Apna Time Aayega Gully Boy Ranveer Singh & Alia Bh.mp4" type="video/mp4">
            </video>
            <canvas id="overlay" style="position: absolute;top: 0; left: 0;"></canvas>
        </div>
    </div>
</div>

<% include partials/footer %>