<% include partials/header %>
    <div class="container"><div class="jumbotron">
        <h1 class="display-4">Welcome to Surveillance Helper!</h1>
        <p class="lead">Surveillance is the monitoring of behavior, activities, or information for the purpose of influencing, managing or directing</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register now !</a>
        </p>
      </div>
    </div>
<% include partials/footer %>