<% include partials/header %>

<div class="container">

    <div class="row">

        <div class="col-md-4 m-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Sign in</h1>
                    <form action="/users/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Sign in!</button>
                    </form>
                    <small>Not a have a account ? Please <a href="/users/register">register</a> instead.</small>
                </div>

            </div>
        </div>
    </div>

</div>

<% include partials/footer %>